<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myapp</title>
</head>
<body>
    <h1>MYAPP</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="input">
        <button type="submit">submit</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>score</th>
            </tr>
        </thead>
        {% if rows %}
        {% for row in rows %}
        <tbody>
            <tr>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
            </tr>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>

</body>
</html>